.blog-contents {
    font-family: 
    'メイリオ',
    'Hiragino kaku Gothic Pro ',
    sans-serif;
    background-image :url(wood.jpeg);
    /* width:100%; */
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;
    
}

.contents{
     margin-top:220px ; 
}

.blog-header {
    width:100%;
    font-family: 'Kosugi Maru', sans-serif;
    background-color:#fff;
    margin: 0px 0px 32px 0px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    padding-bottom:15px;
    position: fixed;
    top: 0;
    left:0;
    z-index: 2;
    

 }

 /* .blog-header__container {
    padding-top: 0px;
    padding-bottom: 0px;
    
} */


 .blog-header__logo {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 40px 0 40px 0;
    background: #fff;
    
}

.blog-header__logo-link {
    color: #12334b;
    text-decoration: none; 
    padding-top: 4px;
}

.blog-header__logo img {
    margin-right:5px;
    
}


.blog-header__logo-text-main {
    display: block;
    margin-bottom: 2px;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    color: #12334b;
    letter-spacing: 0.05em;
    line-height: 1;
    text-align: center;
}

.blog-header__logo-text-sub {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #888;
    text-align: center;
}

.blog-header__navigation {
    position: relative;
    background: #fafafa;
    padding: 0;
    
}

.blog-header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow-x: scroll; */
    padding: 16px 0px;
    margin: 0%;
    white-space: nowrap;      /* 2行阻止 */
}

.blog-header__menu-item {
    display: inline-block;
    margin: 0px 45px;
    padding: 0px;
    list-style: none;
}




.blog-header__menu-item-link {
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: 700;
    color: #222;
    display: inline-block;
    
    text-decoration: none;
}

.blog-header__menu-item-link:after {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color:#008dab;

    transition:0.4s;
    content: "";
  }

  .blog-header__menu-item-link:hover:after {
    width: 100%;

  }
/* h1 {font-size: 38px;
    margin-top: 0;
    margin-bottom:20;
    }  */



.contents_container {
    display: flex;
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
}
.contents_content-main {
    width: 100%;
}
 

.contents_content-side{
    height: 100%;
    margin-bottom: 60px;
    width: 245px;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    border: solid 1px #aaa;
    box-shadow: 1px 1px 3px #aaa;
    border-radius: 20px;
}
.blog-aside {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.blog-aside-menu-item{
    border-bottom: 1px solid #dddddd;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666666;
    

}

.blog-aside-menu{
    padding: 0px;
    border: 1px solid #dddddd;
    
}
.blog-aside-menu-item-link{
    text-decoration: none;
    color: #000;
   
}
.blog-aside-menu-item:hover{
    
    opacity: 0.5;
}
h3 {
    display: block;
    position: relative;
    margin-top: 17px;
    margin-bottom: 0;
    padding: .5em .5em;
    font-size: 25px;
    font-weight: 700;
    color: #12334b;
    background: #fafafa;
   
}



    h1 {
    display: block;
    position: relative;
    margin: 17px 0 1.6em 0;
    padding: .5em .5em;
    font-size: 25px;
    font-weight: 700;
    color: #12334b;
    background: #fafafa;
    border-left: 4px solid #008dab;
   
}

p{  line-height:1.5;
    font-size: 16px;
}

h2{font-size: 22px;
    display: block;
    position: relative;
    margin: 0;
    padding:0;
    font-weight: 700;
    color: #12334b;
}

h2::before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
90deg, #008dab 0%, #008dab 30%, #eee 30%, #eee 100%);
}
/*  
nav ul{list-style-type:none;
       margin-top:0;
       margin-bottom:0;
       padding-left:0
    　　

}

nav li{
    display:inline;
    font-size: 12px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    background-color: #fff;
}

nav{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    text-align: right;
    margin-top:-40px;
    margin-bottom: 10px;


}
nav li{
    color: #000;
    font-size: 18px;
    transition:0.2s;
    position: relative;
    padding-left: 30px;
    padding-right:30px;
}
nav li .submenu{

    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: none;    
    background-color:rgb(255, 255, 255);
}
nav li .submenu li{
    display: block; 
    font-size: 15px;
    border: solid 1px #000;
    margin-left: 0;
    margin-right: 0;
    padding:10px;
}

nav li .submenu ul{
    
    padding: 0;
}
nav li:hover{
    
    font-size: 30px; 
} 
nav li:hover .submenu{
    display: block;
    font-size: 12px;
} */


.menu{
    border: solid 1px #000;
    text-align: center;


} 
article {background-color:rgb(255, 255, 255); 
    margin-left:auto;
    margin-right:auto;
    border: solid 1px #aaa;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    margin-bottom:15px;
    -webkit-box-shadow:1px 1px 3px #aaa;
    box-shadow:1px 1px 3px #aaa;    
    border-radius:20px
}
 .figure.photo-center {
    max-width:100%;
    margin-top:30px;
    margin-bottom:30px
} 


.blog-footer {
    background: #12334b;
    padding: auto;
    
}

.blog-footer__copyright {
    padding:16px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}
.blog-footer__text-link {
    color: #fff;
    text-decoration: none;
}


@media(max-width: 1200px) {
/* PC以外の端末 
横幅が1200px以下 */
.contents_content-side {
  
    height: 800px;
    margin-bottom: 60px;
    width: 100%;
    margin-left: auto;
    background-color:rgb(255, 255, 255);
    border:solid 1px #aaa;
    box-shadow:1px 1px 3px #aaa;    
    border-radius:20px;
    
}   

.contents_container {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


}
